Условие 1: Задача 1
Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
Считать данные с помощью pandas
Вывести на экран первые 10 строк
1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0
1.3 Создайте признаки года продажи, месяца продажи
1.4 Удалите признаки date, zipcode, lat, long

In [6]:
import pandas as pd
df = pd.read_csv("2sem.csv")
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890.0,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715.0,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060.0,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050.0,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890.0,0,2003,0,98038,47.3684,-122.031,2390,7570

In [7]:
# 1.2 Создать новый признак delta_renovated
df["delta_renovated"] = (df["yr_built"] - df["yr_renovated"]).apply(lambda x: x if x > 0 else 0)

# 1.3 Создать признаки года продажи и месяца продажи
df["year_of_sale"] = pd.to_datetime(df["date"], format="%Y%m%dT%H%M%S").dt.year
df["month_of_sale"] = pd.to_datetime(df["date"], format="%Y%m%dT%H%M%S").dt.month

# 1.4 Удалить признаки date, zipcode, lat, long
df.drop(["date", "zipcode", "lat", "long"], axis=1, inplace=True)

# Вывод обновленного DataFrame с новыми признаками
print(df.head(5))

           id     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7129300520  221900.0         3       1.00         1180      5650     1.0
1  6414100192  538000.0         3       2.25         2570      7242     2.0
2  5631500400  180000.0         2       1.00          770     10000     1.0
3  2487200875  604000.0         4       3.00         1960      5000     1.0
4  1954400510  510000.0         3       2.00         1680      8080     1.0

   waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  \
0           0     0          3      7      1180.0              0      1955
1           0     0          3      7      2170.0            400      1951
2           0     0          3      6       770.0              0      1933
3           0     0          5      7      1050.0            910      1965
4           0     0          3      8      1680.0              0      1987

   yr_renovated  sqft_living15  sqft_lot15  year_of_sale  month_of_sale
0             0           1340        5650          2014             10
1           -40           1690        7639          2014             12
2             0           2720        8062          2015              2
3             0           1360        5000          2014             12
4             0           1800        7503          2015              2